DB_URL=jdbc:postgresql://localhost:5432/factura
DB_USER=factura
DB_PASSWORD=factura
# 32 bytes aleatorios en base64:  openssl rand -base64 32
MASTER_KEY=
API_KEY_PEPPER=cambiar-en-produccion
PLATFORM_ADMIN_KEY=cambiar-en-produccion
STORAGE_TYPE=fs
STORAGE_FS_ROOT=./storage
APP_MODE=multi
